<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Saúde a todos</title>
    <link rel="stylesheet" href="assets/css/hospital.css">
    <script defer src="/assets/scripts/script.js"></script>
</head>
<body>
    <%-include('shared/header')%>
    <section>
        <aside>
            <div class="hsp_header">
                <div>
                    <%  let nome;
                    let img;
                    let especialidades;
                    let localizacao;
                    let descricao;
                    
                    for(let item of dados){
                        nome           = item.nome;
                        img            = item.img;
                        especialidades = item.especialidades;
                        localizacao    = item.localizacao;
                        descricao      = item.descricao;
                    }
                    %>
                    <a href="<%= img %>"><img src="<%= img %>" alt="<%= nome %>"></a> 
                    <a href="<%= localizacao%>">Como chegar</a>
                </div>
                <p><%= descricao %></p>
            </div>
            <div class="hsp_info">
                <p></p>
                <p></p>
            </div>
        </aside>
        <section class="coments">
            <ul>
                <li>
                    <div class="user">
                        <img src="./../assets/icons/icon_user.png" alt="usuario">
                        <p>Usuario 1</p>
                    </div>
                    <div class="user_coments">
                        <p></p>
                    </div>
                </li>
            </ul>
        </section>
    </section>
</body>
</html>