<!DOCTYPE html>
<html lang="pt-br">
<%- include('shared/head') %>
<body>     
    <%- include('shared/header') %>
    <section>
        <!-- este formulário envia os dados inseridos nos campos para o back-end assim que a tecla enter
            é pressionada no campo de texto -->
            <form class="busca" method="POST">
                <div class="input_busca">
                    <input name="item" type="search" placeholder="Buscar...">
                    <button class="btn_pesquisar"><img src="/assets/icons/icons8-search-30.png" alt="pesquisar"></button>
                </div>
            </form>
            
            <!-- O back-end envia uma lista com itens para ca que conterá os hospitais buscados
                o for é usado para percorrer essa lista e criar um <li></li> para cada item dessa lista 
                
                O try {}catch(err){}   serve para tratar erros. No caso ele não deixa a aplicação parar
                quando ela não receber lista nenhuma-->
                <section class="lista">
                    <ul class="listaHospitais">
                        <% try{
                            for(let item of lista){ %>
                                <a href="/hospital/<%= item.nome %>"><li class="hospital" name="<%= item.nome %>"><img src="<%= item.img %>" alt="<%=item.nome%>"><p><%= item.nome %></p></li></a>
                                <% }} catch{
                                    console.log("lista vazia");
                                } %>
                            </ul>
                            <!-- enqunto a lista estiver vazia, esta mensagem irá aparecer. assim que for feito uma busca
                                esta mensagem irá ficar display none e o resultado da busca irá aparecer -->
                                <div class="msg">
                                    <p>Utilize o campo <strong>Categorias</strong> para definir o tipo de busca</p>
                                </div>
                            </section>
                        </section>   
                        <%- include('shared/footer') %>
                        <%- include('shared/btn_home') %>
                        <script src="./../assets/scripts/script.js"></script>
                    </body>
                    </html>